<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <appSettings>
      <add key="mysqlConnectionString" value="server=localhost; uid=root; pwd=1234; database=bitirme;" />
      <add key="moviesListLocation" value="E:\Bitirme\db_dump\movies.list" />
      <add key="directorsListLocation" value="E:\Bitirme\db_dump\directors.list" />
      <add key="genresListLocation" value="E:\Bitirme\db_dump\genres.list" />
      <add key="colorsListLocation" value="E:\Bitirme\db_dump\colors.list" />
    </appSettings>
</configuration>