<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <appSettings>
      
      <add key="mysqlConnectionString" value="server=localhost; uid=root; pwd=asede; database=bitirme;" />
      <add key="moviesListLocation" value="C:\Users\alperen\Desktop\bitirme\temiz list\movies.list" />
      <add key="ratingsListLocation" value="C:\Users\alperen\Desktop\bitirme\temiz list\ratings.list" />
      <add key="runningTimesListLocation" value="C:\Users\alperen\Desktop\bitirme\temiz list\running-times.list" />
      <add key="soundtracksListLocation" value="C:\Users\alperen\Desktop\bitirme\temiz list\soundtracks.list" />
      
      <add key="actorsListLocation" value="C:\Users\alperen\Desktop\bitirme\temiz list\actresses.list" />
      
      <add key="directorsListLocation" value="C:\Users\alperen\Desktop\bitirme\temiz list\directors.list" />
      <add key="genresListLocation" value="C:\Users\Bilal\Documents\GitHub\bitirme\BitirmeParsing\genres.list" />
    </appSettings>
</configuration>